.header_container {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
img {
  width: 400px;
  height: 500px;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
}
.header_container h1 {
  width: 873.21px;
  margin-bottom: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  margin-top: 200px;
  height: 166px;
}
.header_container p {
  width: 687px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}
.header_container button {
  margin-bottom: 200px;
  padding: 12px 30px 13px 30px;
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  letter-spacing: 0.03em;

  color: #1e3f04;
  background: linear-gradient(90deg, #e3ffe6 0%, #e5e1d6 100%);
  border-radius: 5px;
}
.header_container h6 {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  /* identical to box height, or 22px */

  text-decoration-line: underline;

  color: #636d5b;
  margin-bottom: 10px;
}
span i {
  display: flex;
  padding-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 428px) {
  .header h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    width: 382px;
    height: 141px;
    margin-left: -80px;
    margin-top: 60px;
  }
  .header p {
    display: none;
  }

  .header span {
    margin-left: -80px;
  }
  .header button {
    display: none;
  }
  .header h6 {
    margin-left: -80px;
    margin-top: 400px;
  }
  .header hr {
    margin-left: -80px;
  }
  .header_container img {
    margin-left: -325px;

    height: 320px;
    margin-top: 250px;
  }
}
